.extra-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  height: 100%;
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
  bottom: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  min-width: 10rem;
}

.extra-info {
  display: flex;
  flex-direction: row;
  column-gap: 0.6rem;
}

.extra-info span {
  font-weight: 600;
}

.extra-info img {
  width: 1.6rem;
  height: auto;
}

.extra-data span {
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 875px) {
  .extra-data span {
    font-size: 1.4rem;
  }
}
