.extra-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  height: 100%;
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
  bottom: none;
  padding: 0.5rem;
  margin: 0.05rem 0.5rem;
  min-width: 10rem;
}

.extra-info {
  display: flex;
  flex-direction: row;
  column-gap: 0.7rem;
}

.extra-info span {
  font-size: 1.3rem;
  font-weight: 700;
}

.extra-info img {
  width: 2.5rem;
  height: auto;
}

.extra-data span {
  font-size: 1.3rem;
  font-weight: 700;
}
