.forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7rem;
  box-shadow: 1px 10px 20px rgba(230, 222, 222, 0.075),
    inset -3px -5px 6px rgba(7, 6, 6, 0.534);
  width: auto;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.3rem;
  font-size: 1.2rem;

  color: black;
  background-color: rgba(248, 244, 244, 0.13);
  border-radius: 0.8rem;
  box-shadow: 0 0 4px 1px rgba(214, 205, 205, 0.356);
  padding: 1rem;
}

.forecast-day {
  margin-bottom: 0.2rem;
  font-weight: 900;
}

.forecast-temp {
  margin-bottom: 0.2rem;
  font-weight: 800;
}

.forecast-image img {
  margin-bottom: 0.2rem;
  width: 8rem;
  height: auto;
}

.forecast-minmax {
  margin-bottom: 0.2rem;

  font-weight: 800;
}
