.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.current-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(87, 84, 84, 0.301);
  padding: 2rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.199);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 1px rgba(214, 205, 205, 0.158);
  min-width: 35%;
  margin: 1rem;
}

.day-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}

.day-time-container span {
  font-weight: 900;
}

.city-name {
  display: flex;
  gap: 0.25rem;
  padding-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.temp {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-weight: 700;
  align-self: center;
}

.description {
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 500;
}

.weather-info-container {
  display: flex;
  flex-direction: column;
}

.weather-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-info img {
  width: 15rem;
  height: auto;
}

.weather-info .description {
  margin-left: 0.5rem;
}

.weather-info-container .daily-low-high {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .current-container {
    min-width: 65%;
    height: auto;
    padding: 1rem 1rem;
  }
  .weather-info img {
    width: 20rem;
    height: auto;
  }
  .daily-low-high span {
    font-size: 1.2rem;
  }
  .weather-info .description {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .temp {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  .current-container {
    min-width: 65%;
    height: auto;
    padding: 0.5rem 0.5rem;
  }
  .weather-info img {
    width: 10rem;
    height: auto;
  }
  .daily-low-high span {
    font-size: 1.2rem;
  }
  .weather-info .description {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .temp {
    font-size: 4rem;
  }
  .city-name {
    font-size: 1rem;
  }
  .day-time-container span {
    font-size: 1rem;
    font-weight: 700;
  }
}
