.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.div-currents {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.div-forecast {
  flex: 1;
  min-width: 70rem;
}

.noweather-data {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 60vh;
}

.noweather-data h1 {
  margin-bottom: 1rem;
}

.noweather-data span {
  font-weight: 900;
  font-size: 2.5rem;
  color: #000000e1;
}

@media only screen and (max-width: 1366px) {
  .current-container {
    flex: 1;
    padding-top: 2rem;

    min-width: 30rem;
    min-height: 22rem;
  }

  .current-extra-container {
    flex: 1;

    min-width: 30rem;
    min-height: 22rem;
  }

  .div-forecast {
    flex: 1;
    min-width: 60rem;
  }
  /* Current  */

  .weather-info p {
    font-size: 4rem;
  }

  .weather-info span {
    font-size: 1rem;
    font-weight: 800;
  }

  .current-data-img {
    position: relative;
  }
  .current-data-img img {
    position: absolute;
    bottom: -5rem;
    left: -0.8rem;
    width: 18rem;
    height: auto;
  }
  /* Current Extra */
  .extra-container {
    margin: 1.2rem 0;
    row-gap: 1rem;
  }
  .extra-info img {
    width: 2rem;
  }
  .extra-info span {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .extra-data span {
    font-size: 1.2rem;
    font-weight: 700;
  }
  /* Forecast */
  .forecast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    column-gap: 2rem;
  }

  .forecast-item-container {
    margin-bottom: 1rem;
  }

  .forecast-item {
    padding: 0;
    width: 7rem;
    margin: auto;
    font-size: 1.1rem;
  }

  .forecast-image img {
    width: 8rem;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .div-currents {
    flex-direction: column;
    row-gap: 0.3rem;
    margin-bottom: -3rem;
  }

  .current-container {
    position: relative;
    align-items: flex-start;
    padding-left: 2rem;
    min-width: 35rem;
    min-height: 10rem;

    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 1rem;
    box-shadow: -2px -1px 1px rgba(116, 113, 113, 0),
      inset 1px 4px 5px rgba(173, 172, 171, 0.411);
  }

  .current-data-container {
    position: relative;
    top: -2rem;
    left: 1rem;
  }

  .current-extra-container {
    min-width: 35rem;
    min-height: 10rem;
    margin-bottom: 0.2rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    box-shadow: -2px -1px 1px rgba(116, 113, 113, 0),
      inset 1px 4px 5px rgba(173, 172, 171, 0.411);
  }

  .div-forecast {
    min-width: 35rem;
  }
  /* Current  */

  .weather-info p {
    font-size: 3rem;
  }

  .weather-info span {
    font-size: 0.75rem;
    font-weight: 800;
  }

  .current-data-img {
    position: relative;
  }
  .current-data-img img {
    position: absolute;
    bottom: -4rem;
    left: 4rem;
    width: 15rem;
    height: auto;
  }
  /* Current Extra */
  .extra-container {
    margin: 1.2rem 0;
    padding: 0rem 1.2rem;
    row-gap: 0.1rem;
  }
  .extra-info img {
    width: 1.3rem;
  }
  .extra-info span {
    font-size: 1rem;
    font-weight: 700;
  }

  .extra-data span {
    font-size: 1rem;
    font-weight: 700;
  }
  /* Forecast */
  .forecast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-width: 35rem;
    min-height: 10rem;
    column-gap: 1.4rem;
    margin-bottom: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    box-shadow: -2px -1px 1px rgba(116, 113, 113, 0),
      inset 1px 4px 5px rgba(173, 172, 171, 0.411);
  }

  .forecast-item-container {
    margin-bottom: 1rem;
  }

  .forecast-item {
    width: 4rem;
    margin: auto;
    font-size: 0.8rem;
  }

  .forecast-image img {
    width: 5rem;
    height: auto;
  }
  .forecast-minmax {
    padding-left: 1rem;
    font-size: 0.8rem;
    min-width: 6rem;
  }
}

@media only screen and (max-width: 738px) {
  .div-currents {
    gap: 0.5rem;
    margin-bottom: -2.7rem;
  }
  .current-container {
    position: relative;
    align-items: flex-start;
    padding-left: 2rem;
    min-width: 27rem;
    min-height: 10rem;
  }

  .current-data-container {
    position: relative;
    top: -2rem;
    left: 1rem;
  }

  .current-extra-container {
    min-width: 27rem;
    min-height: 10rem;
  }

  .div-forecast {
    min-width: 27rem;
  }
  /* Current  */

  .weather-info p {
    font-size: 3rem;
  }

  .weather-info span {
    font-size: 0.75rem;
    font-weight: 800;
  }

  .current-data-img {
    position: relative;
  }
  .current-data-img img {
    position: absolute;
    bottom: -3rem;
    left: 1rem;
    width: 12rem;
    height: auto;
  }
  /* Current Extra */
  .extra-container {
    margin: 1rem 0;
    padding: 0rem 1.4rem;
    row-gap: 0.05rem;
  }
  .extra-info img {
    width: 1.3rem;
  }
  .extra-info span {
    font-size: 1rem;
    font-weight: 500;
  }

  .extra-data span {
    font-size: 1rem;
    font-weight: 500;
  }
  /* Forecast */
  .forecast-container {
    padding: 0;
    min-width: 27rem;
    height: 11rem;
  }

  .forecast-item-container {
    margin-bottom: 1rem;
  }

  .forecast-item {
    width: 3rem;
    font-size: 0.7rem;
  }

  .forecast-image img {
    width: 3rem;
    height: auto;
  }
  .forecast-minmax {
    padding-left: 1rem;
    font-size: 0.6rem;
    font-weight: 600;
  }
  .forecast-temp {
    font-weight: 400;
  }
  .forecast-day {
    font-weight: 400;
  }
}
