.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.6rem;
}

.current-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(87, 84, 84, 0.301);
  padding: 0.5rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.199);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 1px rgba(214, 205, 205, 0.158);
}

.day-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}

.day-time-container span {
  font-weight: 500;
}

.city-name {
  display: flex;
  gap: 0.25rem;
  padding-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.temp {
  position: relative;
  font-size: 6rem;
  font-weight: 700;
  align-self: center;
  margin: auto;
}

.description {
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 500;
}

.weather-info-container {
  display: flex;
  flex-direction: column;
}

.weather-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-info img {
  width: 10rem;
  height: auto;
  margin-right: 0.5rem;
}

.weather-info .description {
  margin-left: 0.5rem;
}

.weather-info-container .daily-low-high {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
  }
  .day-time-container {
    font-size: x-large;
  }

  .current-container,
  .forecast-container {
    padding: 0.5rem;
  }

  .temp {
    font-size: 6rem;
  }
  .description {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}
