.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid #cccccc49;
  margin-bottom: 1rem;
  padding: 1rem;
}

.navbar-container h1 {
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 875px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }
}
